**/__pycache__/
**/*.pyc
*.db
*.db-shm
*.db-wal
*.env
*.key
*.jks
*.keystore
android/.gradle/
android/local.properties
android/**/build/
ios/vendor/
ios/*.xcodeproj/
ios/App/*.entitlements
ios/App/Info.plist
ios/Tunnel/*.entitlements
ios/Tunnel/Info.plist
